In [2]:
nama = input("Masukkan nama Anda: ")
usia = input("Masukkan usia Anda: ")
alamat = input("Masukkan alamat Anda: ")
pekerjaan = input("Masukkan pekerjaan Anda: ")

print("\n--- Biodata ---")
print("Nama: {}".format(nama))
print("Usia: {}".format(usia))
print("Alamat: {}".format(alamat))
print("Pekerjaan: {}".format(pekerjaan))

Masukkan nama Anda:  ardian
Masukkan usia Anda:  18
Masukkan alamat Anda:  ciawitali
Masukkan pekerjaan Anda:  mahasiswa

--- Biodata ---
Nama: ardian
Usia: 18
Alamat: ciawitali
Pekerjaan: mahasiswa

In [4]:
kalimat = "UNIVERSITAS NUSA PUTRA SUKABUMI"

#putra nusa
print(kalimat[15:20].lower(), kalimat[10:14].lower())

#NIVERSITAS NSA PTRA SKABMI
print(kalimat[1:11], kalimat[12:15], kalimat[16:20], kalimat[21:])

#SUKABUMI PUTRA NUSA UNIVERSITAS
print(kalimat[21:], kalimat[15:20], kalimat[10:14], kalimat[0:11])

#UNPS
print(kalimat[0] + kalimat[10] + kalimat[15] + kalimat[21])

#TAS SAPU BUMI
print(kalimat[7:10], kalimat[18:20], kalimat[21:])

a put s nu
NIVERSITAS NUS  PUT A SUKABUMI
A SUKABUMI A PUT S NU UNIVERSITAS
USAA
ITA UT A SUKABUMI